body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* Ensure the header title is centered */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height if necessary */
    background-color: white; /* Example background color */
}

header .site-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Adjust the link style in the header */
header .site-title a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Add some padding or margin if needed */
header {
    padding: 10px 0;
}


/* Auth Section */
.auth-section {
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Auth Forms */
.auth-form {
    display: none;
}

.auth-form.active {
    display: block;
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-form form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    margin-bottom: 5px;
    color: #333;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auth-form button {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #525252;
}

.auth-form p {
    text-align: center;
    margin-top: 10px;
}

.auth-form a {
    color: #525252;
    text-decoration: none;
}

.auth-form a:hover {
    text-decoration: underline;
}